@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap');
:root {
   --background-nigth: #1E1E1E;
   --background-day: #FFDE59;
   --border-color-nigth: #ffc359;
   --border-color-day: #716b5f;
   --font-nigth: rgb(234, 241, 241);
   --background-button-ligth: linear-gradient(#FFDE59 , #ddb100);
   --font-ligth: black;
   --font-paragraph: 'Enia01', sans-serif;
   --font-document: 'Poppins', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: var(--background-nigth);
}

body::-webkit-scrollbar-thumb {
	background: var(--background-day);
	border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}

.ligth .container {
    background-color: #FFDE59;
}

.ligth header {
    color: var(--font-ligth);
}

.ligth nav ul li a {
    color: var(--font-ligth)
}

.container{
    width: 100%;
    background-color: var(--background-nigth);
    overflow-x: hidden;
}

.ligth .container h1 {
    color: var(--font-ligth);
}

.ligth .container p {
    color: var(--font-);
}

/*--HEADER--*/

.container header{
    position: fixed;
    width: 100%;
    border-bottom: solid 1px var(--border-color-day);
    background-color: var(--background-nigth);
    min-height: 9vh;
    justify-content: space-around;
    z-index: 100;
}

.ligth .container header {
    background-color: var(--background-day);
}

header .logo{
    color: var(--font-nigth);
    font-size: 45px;
    font-weight: 700;
    width: 25%;
    margin-left: 60px;
}
.logo span{
    color: #FFDE59;
    font-size: 70px;
}

.ligth header .logo {
    color: var(--font-ligth);
}

.ligth .logo span {
    color: orange;
}

header nav{
    width: max-content;
    display: flex;
    margin-left: auto;
}

nav input{
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px 15px;
    padding-left: 33px;
    border:2px solid #FFDE59;
    font-size: 16px;
    height: 13px;
    width: 100%;
}
header nav ul{
    justify-content: center;
    width: max-content;
    margin-left: 50px;
}
nav ul li{
    list-style: none;
    white-space: nowrap;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    font-weight:500;
    color: white;
    cursor: pointer;
}
nav ul li a:hover{
    color: #FFDE59;
}

.ligth nav ul li a:hover {
    color: var(--font-nigth);
    text-shadow: 5px 5px 5px black;
}

/*--DARK MODE--*/

.switch {
    background: #344d5b;
    border-radius: 1rem;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex ;
    outline: none;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: 400ms ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    left: unset;
    right: 0; 
}

/*--LANGUAGE SWITCH--*/

.switch-language {
    border-radius: 1rem;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex ;
    outline: none;
    margin-left: 50px;
}

.switch-language picture {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}

.switch-language::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: 400ms ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.switch-language.active {
    background: orange;
    color: #000;
}

.switch-language.active::after {
    left: unset;
    right: 0; 
}




/*--MAIN BACKGROUND PRESENTATION--*/

.container .main{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(
        315deg,
        rgba(101, 0, 94, 1) 3%,
        rgb(206, 184, 60) 38%,
        rgb(238, 48, 175) 68%,
        rgba(255, 25, 25, 1) 98%
    );
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.ligth .container .main {
    background: linear-gradient(
        315deg,
        rgb(37, 37, 35) 3%,
        rgb(206, 184, 60) 38%,
        rgb(59, 53, 59) 68%,
        rgb(34, 34, 32) 98%
    );
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;

}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.waves {
    width: 100%;
    height: 40vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.wave {
    background: rgb(255, 255, 255, 25%);
    position: absolute;
    border-radius: 1000% 1000% 0 0;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
    bottom: 0;
    left: 0;
}

.wave:nth-last-of-type(3) {
    bottom: -2.5em;
    animation: wave 25s -1s reverse infinite;
    opacity: 0.9;
    bottom: 0;
    left: 0;
}


.ligth .wave {
    background: rgb(235, 203, 23, 0.1);
    backdrop-filter: blur(4px);
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }
    10% {
        transform: translateX(-10%);
    }
    30% {
        transform: translateX(-30%);
    }
    40% {
        transform: translateX(-40%);
    }
    50% {
        transform: translateX(-50%);
    }
    60% {
        transform: translateX(-40%);
    }
    70% {
        transform: translateX(-30%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(1);
    }
}

.parallax {
	background: fixed no-repeat 50% 50%;
	background-size: cover;

}

/*--FIRST PRESENTATION-*/

.main #welcome-section {
    width: 60%;
    padding: 40px 30px;
    padding-left: 100px;
    z-index: 1;
}
#welcome-section h1{
    color: var(--font-nigth);
    font-size: 80px;
}

.ligth #welcome-section h2 {
    color: var(--font-nigth);
}

#welcome-section span{
    font-weight: 600;
    font-size: 60px;
    color: #FFDE59;
}
#welcome-section p{
    color: var(--font-nigth);
    font-family: var(--font-paragraph);
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    line-height: 35px;
}

.ligth #welcome-section p {
    color: var(--font-nigth);
    font-weight: 500;
}

.ligth .static-text {
    color: black;
}

#welcome-section #btn-main {
    background-color: #FFDE59;
    outline: none;
    border: none;
    padding: 9px 35px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 30px #0e0e0e79;
    font-weight: 600;
    border-radius: 50px;
    transition: all ease-out 0.2s;
}
#welcome-section button:hover{
    transform: scale(1.02);
}

/*--SOCIAL MEDIA ICONS--*/

#profile-link {
    padding: 20px 0;
    justify-content: left;
}

#profile-link i {
    font-size: 25px;
    padding: 5px 10px;
    color: white;
}

#profile-link .linkedin i:hover {
    color: #0a66c2;
    transform: translateY(-7px);
    transition: all 900ms ease;
}

#profile-link .github i:hover {
    color: black;
    font-weight: 800;
    transform: scale(1.03) translateY(-7px);
    transition: all 900ms ease;
}

#profile-link .codepen i:hover {
    color: whitesmoke;
    transform: translateY(-7px);
    transition: all 900ms ease;
}

#profile-link .telegram i:hover {
    color: #0088cc;
    transform: translateY(-7px);
    transition: all 900ms ease;
}


.main .myphoto{
    width: 40%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--IMAGE MAIN--*/

.myphoto img {
    width: 70%;
}

/*--SECTION PROJECTS--*/

#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
}

.description-projects {
    width: 35%;    
    padding: 0px 10px 55px 10px;
    line-height: 30px;
}


#projects h1 {
    color: var(--font-nigth);
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
}

.ligth #projects h1 {
    text-shadow: 1px 2px 1px black;
}

#projects h1 span{
    color: #FFDE59;
}

#projects p::first-letter {
    font-family: var(--font-document);
    font-weight: bold;
    color: var(--background-day);
    font-size: 25px;
    margin-right: 3px;
    float: left;
}

.ligth #projects p::first-letter {
    color: var(--background-nigth);
}

.ligth #projects span {
    color: var(--font-nigth);
    text-shadow: 1px 2px 1px black;
}

#projects p{
    font-family: var(--font-paragraph);
    font-style: italic;
    color: var(--font-nigth);
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
}

.ligth #projects p {
    color: var(--font-ligth);
}

#projects .description-projects .button{
    position: relative;
    background-color: #FFDE59;
    padding: 9px 25px;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-radius: 50px;
}

.ligth #projects .button {
    background: var(--background-nigth);
    color: var(--font-nigth);
}

#projects .button:hover {
    transform: scale(1.03);
    transition: all 600ms;
}

/*--CARDS PROJECTS--*/

.projects-div{
    position: relative;
    width:300px;
    height: 360px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.ligth .projects-div:hover {
    box-shadow: 5px 10px 5px 2px rgb(54, 49, 39);
}

.projects-div:hover{
    transform: rotate(5deg);
    box-shadow: 2px 5px 5px 2px wheat;
    background-color: var(--background-nigth);
}

.projects-div:hover span {
    opacity: 0;
    transition: all 900ms ease;
}

.projects-div:hover button {
    background-color: var(--background-nigth);
}

.projects-div:hover img:nth-of-type(1) {
    transform: scale(0.70);
    transition: all 1100ms ease;
    filter: none;
}

.projects-div img:nth-of-type(1) {
    width: 180%;
    filter: blur(2px) grayscale(0.7) brightness(50%);
}

.projects-div img:nth-of-type(3) {
    width: 90vw;
}

.projects-div h3{
    position: absolute;
    font-size: 23px;
    white-space: nowrap;
    text-shadow: 1px 1px 0px black;
    padding: 10px;
    color: #FFDE59;
    font-family: 'Roboto', sans-serif;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects-div span{
    position: absolute;
    color: var(--font-nigth);
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0 auto;
    text-align: center;
}

.projects-div a {
    text-decoration: none;
    color: var(--font-nigth);
}

.ligth .projects-div p {
    color: var(--font-nigth);
}

#projects button {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    border: 1px solid #FFDE59;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 25px;
    border-radius: 50px;
    bottom: 18%;
    left: 23%;
}

.ligth #projects button {
    color: var(--font-nigth);
}

#projects button:hover {
    background: #FFDE59;
    transform: scale(1.08);
    transition: all 600ms;
}

#projects button:hover a {
    color: #000;
}

/*--SECTION ABOUT ME--*/

.about{
    color: var(--font-nigth);
    width: 100%;
    height: 400px;
    justify-content: center;
    overflow: hidden;
    background-image: url(images/backgroundYEllow.jpg);
    object-fit: cover;
}

.ligth .about {
    border-top: 1px solid var(--background-nigth);
    background-image: url(images/altumcode-oZ61KFUQsus-unsplash.jpg);
}

.about-one{
    width: 70%;
    padding: 0 60px;
}
.about-one h1{
    position: relative;
    font-size: 50px;
    padding: 20px 20px 20px 0;
}

.ligth .about-one h1 {
    color: var(--font-nigth);
}

.ligth .about-one span {
    color: orangered;
    font-weight: 700;
}

.about-one p {
    font-family: var(--font-paragraph);
    font-size: 20px;
    font-style: italic;
    font-weight: 550;
    color: var(--font-ligth);
    width: 95%;
    text-align: justify;
    margin-top: 20px;
    line-height: 30px;
}

.about-one p::first-letter {
    font-family: var(--font-document);
    font-size: 40px;
    font-weight: bold;
    color: var(--font-nigth);
    float: inline-start;
    margin-right: 5px;
}

.ligth .about-one p {
    font-weight: 500;
    padding: 12px;
    color: var(--font-nigth);
    background-color: rgb(234, 241, 241, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 20px;
}

.about-one span{
    font-size: 30px;
    color: #ff4400;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px 0;
}
.about-two{
    width: 30%;
}
.about-two img{
    width: 100%;
    filter: brightness(0.9) ; 
}

/*--SECTION CONTACT ME--*/

.contact{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.ligth .contact {
    border-top: 1px solid var(--background-nigth);
}

.contact h1{
    color: var(--font-nigth);
    font-size: 50px;
}
.contact h1 span{
    color: #FFDE59;
}

.ligth .contact h1 span {
    color: var(--font-nigth);
    text-shadow: 1px 2px 1px black;
}

.contact .box{
    flex-direction: column;
    margin-top: 40px;
}
.box div{
    width: 70%;
    margin: auto;
}
.contact .box input{
    min-width: 30%;
    outline: none;
    border: none;
    background-color: #FFDE59;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
}

.ligth .contact .box input {
    color: var(--font-nigth);
    background-color: var(--background-nigth);
}


.box div i{
    font-size: 20px;
    color: white;
    font-weight: 800;
    top: 20px;
    left: 20px;
}

.ligth .box div i {
    color: orangered;
    font-weight: 600;
}

.contact .box textarea{
    margin-top: 20px;
    background-color: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #FFDE59;
    outline: none;
}

.ligth .box textarea {
    background-color: var(--background-nigth);
}


.send {
    background: linear-gradient(#FFDE59 , #ddb100);
    color: var(--font-ligth);
    font-weight: 600;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.ligth .send {
    color: var(--font-nigth);
    background: rgb(255,68,0);
    background: linear-gradient(180deg, rgba(255,68,0,1) 0%, rgba(255,100,0,1) 55%);
}

.send:hover {
    transform: scale(1.03);
    transition: all 600ms;
}

.ligth .contact .box input {
    color: var(--font-nigth);
}

/*--SECTION FOOTER--*/

footer{
    justify-content: space-between;
    padding: 10px 70px;
    background: linear-gradient(#FFDE59 , #ddb100);
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.ligth footer {
    background: var(--background-nigth);
    color: var(--font-nigth);
}

footer .social i{
    font-size: 25px;
    margin: 0 3px;
    cursor: pointer;
}
.social i:hover{
    color: palevioletred;
}

/*--MEDIA QUERYS--*/

@media screen and (max-width: 1200px) {

    .main #welcome-section {
        transform: scale(0.9);
        transition: all 900ms linear;
        padding-left: 15px;
        padding-right: unset;
    }

    #welcome-section {
        width: max-content;
    }

    .description-projects {
        width: 80%;
    }
    nav {
        margin: 0 50px;
        transition: all 700ms ease;

    }
}

@media screen and (max-width: 992px) {
    header .logo {
        transform: scale(0.8);
        margin-left: 10px;
        transition: all 900ms ease;
    }
    nav {
        transform: scale(0.9);
        margin-right: 10px;
        transition: all 900ms ease;
    }
    #welcome-section {
        margin-top: 70px;
    }
    #welcome-section h1 {
        font-size: 3.5em;
    }
    #welcome-section span {
        font-size: 3.2em;
    }
    .about-one {
        transform: scale(0.8);
        transition: all 900ms ease;
        padding: unset;
    }
   .contact .box input {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    
    .logo {
        display: none;
    }

    #welcome-section h1 {
        font-size: 3em;
    }
    #welcome-section span {
        font-size: 3em;
    }
    nav {
        transform: scale(0.8);
        transition: all 900ms ease;
    }
    .about-one {
        transform: scale(0.7);
        transition: all 900ms ease;
    }
    .contact {
        transform: scale(0.8);
        transition: all 900ms ease;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        display: none;
    }

    #welcome-section h1 {
        font-size: 2em;
    }

    #welcome-section span {
        font-size: 1.5em;
    }

    #welcome-section p {
        font-size: 1em;
    }

    .main .myphoto {
        width: 0%;
    }

    nav {
        margin-left: unset;
    }
    .about-one {
        transform: scale(0.6);
        transition: all 900ms ease;
        padding: unset;
        height: auto;
    }

    .about-two {
        width: 0;
    }
    .contact {
        transform: scale(0.7);
        transition: all 900ms ease;
    }
}
