:root {
	--main-white: #f0f0f0;
	--main-red: #be3144;
	--main-blue: #45567d;
	--main-gray: #303841;

}

@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, auto);
	grid-template-areas: "header header header"
												"main main main"
												"about about about"
												"projects projects projects"
												"social social social"
												"contact contact contact"
												"footer footer footer";
	}

.projects-grid {
    display: grid;
	gap: 5px;
	grid-auto-rows: 35rem;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.container .projects-section {
	grid-area: projects;
}

.container .projects-section .title-projects {
	background-color: #000;
	color: #be3144;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.container .projects-section .title-projects h2 {
	font-family: 'Kanit', sans-serif;
	font-style: italic;
	font-size: 3rem;
	padding: 1em;

}

.container .projects-grid .card {
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 900ms;
	
}

.container .projects-grid .card .title-card {
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	padding: 350px;
	background: rgba(0,0,0,.5);
	margin: auto;
}

.container .logotype {
	width: 30vw;
}

.container .logotype img {
	height: 64px;
}

.container .nav {
	background-color: #be3144;
	grid-area: header;
	min-height: 4rem;
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 100;
	justify-content: space-around;
	align-items: center;
}

.container .nav ul {
	display: flex;
	width: 70vw;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	text-decoration: none;
	list-style: none;
}

.container .nav ul li {
	padding: 5px 15px;

}

.container .nav .nav-list a {
	display: flex;
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.container #presentation {
	background-image: url(/redLineStyle.jpg);
	object-fit: cover;
	height: 100vw;
	max-height: 950px;
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container #presentation h1 {
	font-size: 4rem;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	
}

.container #presentation .title {
	z-index: 1;
}

.container #presentation p {
	font-size: 2.2rem;
	font-family: 'Roboto', sans-serif;
	color: #be3144;
}

#about {
	grid-area: about;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

#about #photo {
	padding: 20px 60px;
	z-index: 1;
}

#about #background {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-image: url(/back2.jpg);
	object-fit: cover;
}

#about #cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
    background-image: radial-gradient(circle,transparent 1% rgba(255,255,255,1) 10%, rgba(0,0,0,1) 76%);
}

.gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.1);
    background-image: linear-gradient(180deg,transparent 30%,rgba(0,0,0,.3)),radial-gradient(95% 100%,transparent 30%,rgba(0,0,0,.3) 100%);
}

#about aside {
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align:justify;
	align-items: flex-start;
	padding: 3rem 2rem;
	z-index: 1;

}

#about aside h2 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 2rem;
	font-size: 3rem;
}

#about aside p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	padding: 1rem;
}

.container .contact-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "title form"
						"social form"
						"image submit";
}

.container .contact-section .social-media {
	grid-area: social;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}

.container .social-media i {
	color: #fff;
}

.container .social-media a {
	text-decoration: none;
	color: black;
}

.container .contact-section-header {
	grid-area: title;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 4rem;
	font-family: 'Roboto', sans-serif;
}

.container .contact-section-header h2 {
	font-size: 3rem;
	padding: 1em 1em;
}

.container .contact-section-header p {
	font-size: 2rem;
	padding: 0.5em 2em;
}

.contact-survey {
	grid-area: form;
}

.contact-section #title {
	margin-bottom: 20px;
}

.contact-survey fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	font-size: 2em;
	border: none;
	background-color: #45567d;
}

.contact-survey fieldset label {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;

}

.contact-section figcaption {
	grid-area: image;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-section figcaption img {
	width: 20%;
}

.button {
	grid-area: submit;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}

.button input {
	font-size: 1rem;
	padding: 5px;
	margin: 3px;
}

footer {
	background-color: #000;
	color: #fff;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

footer a {
	color: #be3144;
}

.container .projects-section .projects-grid {
	background-color: green;
	
}

.container .social-media {
	background-color: palevioletred;
	grid-area: social;
}

.container .contact-section {
	background-color: orange;
	grid-area: contact;
}

.container footer {
	background-color: blue;
	grid-area: footer;
}

.parallax {
	background: #fff fixed no-repeat 50% 50%;
	background-size: cover;

}